footer
    .row-fluid
        .col-md-12
            a(rel='license',
                    href='http://creativecommons.org/licenses/by-sa/4.0/')
                img(alt='Creative Commons License', style='border-width:0',
                    width='88px' height='31px'
                    src=url_for('images/cc-by-sa.png'))
            br
            span= config.title
            |  by
            span= ' ' + config.author
            |  is licensed under a&nbsp;
            a(href='http://creativecommons.org/licenses/by-sa/4.0/').
                Creative Commons Attribution-ShareAlike 4.0 International
                License

script(src=url_for('bower_components/jquery/dist/jquery.min.js'))
script(src=url_for('bower_components/bootstrap/dist/js/bootstrap.min.js'))
script(src=url_for('snippet.js'))
