title: Final marks
date: 2015-07-06 00:27:59
tags: news
categories: news
---
p To get your mark, enter your number below.
.row
    .col-sm-6
        form(onsubmit='return getMark();')
            .form-group
                label.control-label Number: 
                    .input-group
                        input#fn.form-control(type='number', size=6,
                            required=true, placeholder='123456')
                        span.input-group-btn
                            button.btn.btn-primary(type='submit') Go!
            .form-group
                label.control-label(for='mmark') Midterm Mark: 
                input.form-control#mmark(readonly=true)
            .form-group
                label.control-label(for='mscore') Midterm Score:
                input.form-control#mscore(readonly=true)

            .form-group
                label.control-label(for='fmark') Final Mark: 
                input.form-control#fmark(readonly=true)
            .form-group
                label.control-label(for='fscore') Final Score:
                input.form-control#fscore(readonly=true)
            .form-group
                label.control-label(for='final') Final:
                input.form-control#mark(readonly=true)
    .col-sm-6
        .alert.alert-info.alert-block The scale is:
            ul
                li 2.00 - below 25
                li 3.00 - between 25 and 30
                li 3.50 - between 31 and 36
                li 4.00 - between 37 and 42
                li 4.50 - between 43 and 48
                li 5.00 - between 49 and 54
                li 5.50 - between 55 and 60
                li 6.00 - 61 and above

script.
    function showScore(result) {
        if (result.midterm.mark) {
            $('#mscore').val(result.midterm.score);
            $('#mmark').val(result.midterm.mark);
        } else {
            $('#mscore').val('missing');
            $('#mmark').val('N/A');
        }
        if (result.final.mark) {
            $('#fscore').val(result.final.score);
            $('#fmark').val(result.final.mark);
        } else {
            $('#fscore').val('missing');
            $('#fmark').val('N/A');
        }
        if (result.mark) {
            $('#mark').val(result.mark);
        } else {
            $('#mark').val('N/A');
        }
    }
    function showError() {
        $('#mscore').val('ERROR');
        $('#mmark').val('ERROR');
    }
    function getMark() {
        var fn = $('#fn').val();
        $.getJSON('https://advanced-cxx.herokuapp.com/final/' + fn)
            .then(showScore)
            .fail(showError);
        return false;
    }
